@font-face {
  font-family: "Ustroke Regular";
  font-display: swap;
  src: url("../fonts/Ustroke Regular.woff") format("woff"), url("../fonts/Ustroke Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  color: blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
}

h2 {
  color: red;
}

span {
  font-size: 20px;
}

.no-webp div {
  background: url(../img/gelicopter.jpg) 0 0 no-repeat; }

div {
  font-size: 30px;
}

@media (max-width: 767px) {
  span {
    font-size: 15px;
  }

  div {
    font-size: 20px;
  }
}

.webp div { background: url(../img/gelicopter.webp) 0 0 no-repeat; }